vendor/
**/*/vendor/
opfs/
rest/
dist/
outdir/
.idea/
.vscode
test.php
run_phar.php
run_src.php
.phive
vendor-bin
new-wp
.phpunit.result.cache
test.txt
secrets.php
testing-grounds.php
plugins/static-files-editor/src/

