vendor/
**/*/vendor/
opfs/
rest/
dist/
outdir/
.idea/
.my-notes-git/
.vscode
test.php
run_phar.php
run_src.php
.phive
vendor-bin
new-wp
.phpunit.result.cache
test.txt
secrets.php
testing-grounds.php
plugins/git-repo/git-test-server-data
*.secret.json
plugins/static-files-editor/build
plugins/static-files-editor/node_modules
url-updater.sh
buntest.php
blueprint-url-updater.json
components/DataLiberation/Tests/test-output-html/
components/DataLiberation/Tests/test-output-md